.yii2wp-tab .separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.yii2wp-tab .separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.yii2wp-tab .separator::before {
    margin-right: .25em;
}
.yii2wp-tab .separator::after {
    margin-left: .25em;
}

#yii2wp_settings_tabs_wrapper {
    position: relative;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0;
    background: none;
}
#yii2wp_settings_tabs {
    z-index: 2;
    position: relative;
    width: 159px;
    float: left;
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    line-height: inherit;
}
#yii2wp_settings_tabs li.ui-tabs-active {
    width: 161px;
}
#yii2wp_settings_tabs .ui-state-default, 
#yii2wp_settings_tabs .ui-widget-content .ui-state-default, 
#yii2wp_settings_tabs .ui-widget-header .ui-state-default {
    border: none;
}
#yii2wp_settings_tabs li {
    margin: 0;
    padding: 0;
    float: none;
    background: none;
    white-space: normal;
}
#yii2wp_settings_tabs li.ui-tabs-active a,
#yii2wp_settings_tabs li a:hover {
    width: 161px;
    border-top: 1px solid #ddd;
    padding: 19px 21px 20px 45px;
    color: #000 !important;
    background: #fff !important;  
}
#yii2wp_settings_tabs li a {
    display: block;
    margin: -1px 0 0 0;
    padding: 20px 21px 20px 45px;
    text-decoration: none;
    color: #666;
    border-bottom: 1px solid #ddd;
    word-break: break-word;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: none;
    -webkit-transition: none;
    float: none;
    position: relative;
}
#yii2wp_settings_tabs_wrapper .yii2wp-tab {
    position: relative;
    padding: 5px 10px 15px;
    width: calc( 100% - 183px );
    float: right;
    border: 1px solid #ddd;
    background: #fff;
}
#yii2wp_settings_tabs .ui-state-default,
#yii2wp_settings_tabs .ui-widget-content .ui-state-default,
#yii2wp_settings_tabs .ui-widget-header .ui-state-default {
    border: none;
}
#yii2wp_settings_tabs li:last-child a {
    border-bottom: none;
}